[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pytest-json = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "uvicorn src.api.main:app --reload"
start = "uvicorn src.api.main:app"
build = "docker-compose up --build -d"