[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pymysql = "*"
cryptography = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pytest-json = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "uvicorn src.main:app --reload"
start = "uvicorn src.api.main:app"
"composer:up" = "docker-compose up -d"
"composer:down" = "docker-compose down -v"
"composer:logs" = "docker-compose logs -f"
"composer:build" = "docker-compose up --build -d"
